<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notepad</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1>Notepad</h1>
    <h2>Create a new note</h2>
    <form method="POST" th:action="@{/notes/create}" th:object="${note}">
        <label for="title">Note title</label><br>
        <input type="text" th:field="*{title}" /><br>
        <label for="text">Note text</label><br>
        <textarea th:field="*{text}" ></textarea><br>
        <input type="submit" value="Create" />
    </form>
    <h2>Notes</h2>
    <table>
      <tr>
        <th>Note title</th>
        <th>Note text</th>
        <th>Created at</th>
        <th>Updated at</th>
      </tr>
      <tr th:each="note : ${notes}">
        <td th:text="${note.title}">Note title</td>
        <td th:text="${note.text}">Note text</td>
        <td th:text="${note.createdAt}">24 Aug 2024</td>
        <td th:text="${note.updatedAt}">24 Aug 2024</td>
      </tr>
    </table>
</body>
</html>
